[Unit]
Description=AUR Builder Bot

[Service]
Environment=TMP=/media/Cloud/tmp
Environment=TEMP=/media/Cloud/tmp
Environment=TMPDIR=/media/Cloud/tmp
User=meowxiik
ExecStart=/opt/aurbot/aurbot/aurbot -c /opt/aurbot/aurbot/aurbot.conf
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
CPUSchedulingPolicy=batch

[Install]
WantedBy=multi-user.target
