[Unit]
Description=AUR Builder Bot

[Service]
ExecStart=/opt/aurbot/aurbot -c /opt/aurbot/aurbot.conf
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
CPUSchedulingPolicy=batch

[Install]
WantedBy=multi-user.target
